#home{
    background-color: #0f2b55;
    height: 100vh;
}
.bg-img{
    background-size: cover;
    background-attachment:fixed;
    background-position: center center;
}
.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style:normal;
}
.ff-p{
    font-family: "Playfair Display", serif;
    letter-spacing: 7px;
}
.h-15{
    height: 15%;
}
.w-65{
    width:30%;
}
.w-7{
    width: 6%;
}
 h1::before {
    content: "";
    position: absolute;
    width: 24%;
    height: 0%;
    top:50px;
    background-color: #0d6efd;
    transition: height 1s;
    z-index: -1;
}
h1{
    color: #0d6efd;
    transition: 0.5s;
}

.group{
    box-shadow: 0px 0px 60px -30px rgb(38, 83, 231);
    background-color: #0f2b55;
    border-radius: 2.375rem;
}
.bg-n{
    background-color: #0f2b55;
}
.bg-c{
    background-color: rgba(153, 166, 210, 0.681);
}
.whc{
    height: 365px;
    width: 420px;
}

        .progress-container {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-ring1 {
    width: 100px;
    height: 100px;
    border-radius: 60%;
    background: conic-gradient(
        #0A0D1D calc(var(--value) * 1%), 
        #E5EAF1 0
    );
    mask: radial-gradient(circle, transparent 60%, black 15%);
}
.progress-ring {
    width: 100px;
    height: 100px;
    border-radius: 60%;
    background: conic-gradient(
        #0A0D1D calc(var(--value) * 1%), 
        #E5EAF1 0
    );
    mask: radial-gradient(circle, transparent 60%, black 15%);
}

.progress-text {
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}
.bg1{
    background: conic-gradient(
        #2cb511 calc(var(--value) * 1%), 
        #E5EAF1 0
    );
}
.bg2{
    background: conic-gradient(
        #c2ae1b calc(var(--value) * 1%), 
        #E5EAF1 0
    );
}
.bg3{
    background: conic-gradient(
        #a61111fc calc(var(--value) * 1%), 
        #E5EAF1 0
    );
}
.tx1{
    color: #2cb511;
}
.tx2{
    color: #c2ae1b;
}
.tx3{
    color: #a61111fc;
}
.form-check-input1:checked {
    background-color:#15aecdff;
;
    border-color:#15aecdff;
;
}


.card {
    background-color: transparent;
}

.rotated-text {
  transform: rotate(-90deg); /* لفّ النص */
  transform-origin: left top; /* نقطة ارتكاز اللفة */
  font-size: 20px;
}
.vertical-text {
  writing-mode: vertical-rl; /* الكتابة عموديًا */
  text-orientation: mixed;
  transform: rotate(-180deg);
}